
@{
    ViewBag.Title = "NoAuthorization";
}

<h2>Không có quyền truy cập</h2>


<!-- Begin Page Vendor Js -->
<script src="/Content/assets/vendors/js/nicescroll/nicescroll.min.js"></script>
<script src="/Content/assets/vendors/js/owl-carousel/owl.carousel.min.js"></script>
<script src="/Content/assets/vendors/js/app/app.min.js"></script>
<!-- End Page Vendor Js -->
<!-- Theme Base, Components and Settings -->
<script src="/Content/AdminLTE/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="/Content/AdminLTE/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/Content/AdminLTE/javascripts/theme.init.js"></script>


<script src="/Content/AdminLTE/js/adminlte.js"></script>
<script src="/Content/AdminLTE/js/init.js"></script>
