 <!-- Begin Page Footer-->

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 1.0
    </div>
    <strong>Copyright &copy; 2019 <a href="https://medlatec.vn">MEDCOM</a>.</strong> All rights reserved.
</footer>
<!-- End Page Footer -->
