
@using CMSLIS.Models;
@using CMS_Core.Entity;

@{
    var UserInfo = ((cms_Account)Context.Session["UserInfo"]);
    if (UserInfo == null)
    {
        Response.Redirect("/account/login");
    }

    string url = Request.RawUrl.ToLower();
    if (string.IsNullOrEmpty(url))
    {
        url = string.Empty;
    }

    string classNavbar = string.Empty;
    if (url.IndexOf("clinic") == -1)
    {
        classNavbar = "active";
    }

    


}



<header class="main-header">
    @* BEGIN Logo *@
    <a href="/Home/index" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>MED</b></span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg"><b>MEDCOM</b></span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

               <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">1</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Thông báo (1)</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>



                @* BEGIN User Account Menu *@
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Content/AdminLTE/img/User.svg" width="100" class="user-image" alt="User Image">
                        <span class="hidden-xs"> @UserInfo.Username.ToUpper() </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="~/Content/AdminLTE/img/User.svg" width="100" class="img-circle" alt="User Image">

                            <p>
                                @UserInfo.Username.ToUpper()
                                <small>Họ và tên: @UserInfo.Hoten</small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="~/Account/ProfileUser" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="~/Account/Logout" class="btn btn-default btn-flat">
                                    Sign out
                                </a>

                            </div>
                        </li>
                    </ul>
                </li>
                @* END User Account Menu *@
                @* BEGIN Control Sidebar Toggle Button *@
                @*<li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>*@
                @* END Control Sidebar Toggle Button *@
            </ul>
        </div>
    </nav>
</header>


 