 <!-- Begin Messenger -->
<div role="tabpanel" class="tab-pane show active fade" id="messenger" aria-labelledby="messenger-tab">
    <!-- Begin Chat Message -->
    <span class="date">Today</span>
    <div class="messenger-message messenger-message-sender">
        <img class="messenger-image messenger-image-default" src="/Content/assets/img/avatar/avatar-02.jpg" alt="...">
        <div class="messenger-message-wrapper">
            <div class="messenger-message-content">
                <p>
                    <span class="mb-2">Brandon wrote</span>
                    Hi David, what's up?
                </p>
            </div>
            <div class="messenger-details">
                <span class="messenger-message-localization font-size-small">2 minutes ago</span>
            </div>
        </div>
    </div>
    <div class="messenger-message messenger-message-recipient">
        <div class="messenger-message-wrapper">
            <div class="messenger-message-content">
                <p>
                    Hi Brandon, fine and you?
                </p>
                <p>
                    I'm working on the next update of Elisyam
                </p>
            </div>
            <div class="messenger-details">
                <span class="messenger-message-localisation font-size-small">3 minutes ago</span>
            </div>
        </div>
    </div>
    <div class="messenger-message messenger-message-sender">
        <img class="messenger-image messenger-image-default" src="/Content/assets/img/avatar/avatar-02.jpg" alt="...">
        <div class="messenger-message-wrapper">
            <div class="messenger-message-content">
                <p>
                    <span class="mb-2">Brandon wrote</span>
                    I can't wait to see
                </p>
            </div>
            <div class="messenger-details">
                <span class="messenger-message-localization font-size-small">5 minutes ago</span>
            </div>
        </div>
    </div>
    <div class="messenger-message messenger-message-recipient">
        <div class="messenger-message-wrapper">
            <div class="messenger-message-content">
                <p>
                    I'm almost done
                </p>
            </div>
            <div class="messenger-details">
                <span class="messenger-message-localisation font-size-small">10 minutes ago</span>
            </div>
        </div>
    </div>
    <span class="date">Yesterday</span>
    <div class="messenger-message messenger-message-sender">
        <img class="messenger-image messenger-image-default" src="/Content/assets/img/avatar/avatar-05.jpg" alt="...">
        <div class="messenger-message-wrapper">
            <div class="messenger-message-content">
                <p>
                    I updated the server tonight
                </p>
            </div>
        </div>
    </div>
    <div class="messenger-message messenger-message-recipient">
        <div class="messenger-message-wrapper">
            <div class="messenger-message-content">
                <p>
                    Didn't you have any problems?
                </p>
            </div>
        </div>
    </div>
    <div class="messenger-message messenger-message-sender">
        <img class="messenger-image messenger-image-default" src="/Content/assets/img/avatar/avatar-05.jpg" alt="...">
        <div class="messenger-message-wrapper">
            <div class="messenger-message-content">
                <p>
                    No!
                </p>
            </div>
        </div>
    </div>
    <div class="messenger-message messenger-message-recipient">
        <div class="messenger-message-wrapper">
            <div class="messenger-message-content">
                <p>
                    Great!
                </p>
                <p>
                    See you later!
                </p>
            </div>
        </div>
    </div>
    <!-- End Chat Message -->
    <!-- Begin Message Form -->
    <div class="enter-message">
        <div class="enter-message-form">
            <input type="text" placeholder="Enter your message..." />
        </div>
        <div class="enter-message-button">
            <a href="#" class="send"><i class="ion-paper-airplane"></i></a>
        </div>
    </div>
    <!-- End Message Form -->
</div>
<!-- End Messenger -->
