 <!-- Begin Today -->
<div role="tabpanel" class="tab-pane fade" id="today" aria-labelledby="today-tab">
    <!-- Begin Today Stats -->
    <div class="sidebar-heading pt-0">Today</div>
    <div class="today-stats mt-3 mb-3">
        <div class="row">
            <div class="col-4 text-center">
                <i class="la la-users"></i>
                <div class="counter">264</div>
                <div class="heading">Clients</div>
            </div>
            <div class="col-4 text-center">
                <i class="la la-cart-arrow-down"></i>
                <div class="counter">360</div>
                <div class="heading">Sales</div>
            </div>
            <div class="col-4 text-center">
                <i class="la la-money"></i>
                <div class="counter">$ 4,565</div>
                <div class="heading">Earnings</div>
            </div>
        </div>
    </div>
    <!-- End Today Stats -->
    <!-- Begin Friends -->
    <div class="sidebar-heading">Friends</div>
    <div class="quick-friends mt-3 mb-3">
        <ul class="list-group w-100">
            <li class="list-group-item">
                <div class="media">
                    <div class="media-left align-self-center mr-3">
                        <img src="/Content/assets/img/avatar/avatar-02.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
                    </div>
                    <div class="media-body align-self-center">
                        <a href="javascript:void(0);">Brandon Smith</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="media">
                    <div class="media-left align-self-center mr-3">
                        <img src="/Content/assets/img/avatar/avatar-03.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
                    </div>
                    <div class="media-body align-self-center">
                        <a href="javascript:void(0);">Louis Henry</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="media">
                    <div class="media-left align-self-center mr-3">
                        <img src="/Content/assets/img/avatar/avatar-04.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
                    </div>
                    <div class="media-body align-self-center">
                        <a href="javascript:void(0);">Nathan Hunter</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="media">
                    <div class="media-left align-self-center mr-3">
                        <img src="/Content/assets/img/avatar/avatar-05.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
                    </div>
                    <div class="media-body align-self-center">
                        <a href="javascript:void(0);">Megan Duncan</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="media">
                    <div class="media-left align-self-center mr-3">
                        <img src="/Content/assets/img/avatar/avatar-06.jpg" alt="..." class="img-fluid rounded-circle" style="width: 35px;">
                    </div>
                    <div class="media-body align-self-center">
                        <a href="javascript:void(0);">Beverly Oliver</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- End Friends -->
    <!-- Begin Settings -->
    <div class="sidebar-heading">Settings</div>
    <div class="quick-settings mt-3 mb-3">
        <ul class="list-group w-100">
            <li class="list-group-item">
                <div class="media">
                    <div class="media-body align-self-center">
                        <p class="text-dark">Notifications Email</p>
                    </div>
                    <div class="media-right align-self-center">
                        <label>
                            <input class="toggle-checkbox" type="checkbox" checked>
                            <span>
                                <span></span>
                            </span>
                        </label>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="media">
                    <div class="media-body align-self-center">
                        <p class="text-dark">Notifications Sound</p>
                    </div>
                    <div class="media-right align-self-center">
                        <label>
                            <input class="toggle-checkbox" type="checkbox">
                            <span>
                                <span></span>
                            </span>
                        </label>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="media">
                    <div class="media-body align-self-center">
                        <p class="text-dark">Chat Message Sound</p>
                    </div>
                    <div class="media-right align-self-center">
                        <label>
                            <input class="toggle-checkbox" type="checkbox" checked>
                            <span>
                                <span></span>
                            </span>
                        </label>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- End Settings -->
</div>
<!-- End Today -->
