
@using CMS_Core.Entity;
@model  CMS_Core.Models.SearchNewsViewModel
@{
    ViewBag.Title = "Danh sách nguồn tin";
    var NewsSources = (List<cms_NewsSource>)ViewBag.DataReport;
}

<script src="/Content/AdminLTE/js/Customer/Source.js"></script>
<!-- Head Libs -->
<script src="/Content/AdminLTE/vendor/modernizr/modernizr.js"></script>



<div class="box box-info">


    <div class="box box-info" style="margin-top: 5px;">
        <section class="panel">
            <!-- Begin Content -->
            <div class="panel-body">
                <div class="row" style="margin-bottom: 5px;margin-left: -5px;">
                    <button type="button" id="SourceAdd" value="SourceAdd" class="btn btn-info mr-1 mb-2" onclick="return ConfirmAdd();"><i class="fa fa-plus-square-o"></i> Thêm mới (Ctrl + F1) </button>
                    <button type="button" id="SourceDelete" value="SourceDelete" class="btn btn-danger mr-1 mb-2" style="width:100px;" onclick="return ConfirmDelete();"><i class="fa fa-remove"></i> Xóa </button>
                    <button type="button" id="SourcePublic" value="SourcePublic" class="btn btn-info mr-1 mb-2" style="width:100px;" onclick="return ConfirmPublic();"><i class="fa fa-check-square-o"></i> Duyệt </button>
                </div>

                <!-- Sorting -->
                <table id="sorting-table" class="table table-bordered table-striped dataTable" role="grid">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>                          
                            <th>Tên nguồn tin</th>
                            <th>Link nguồn tin</th>                      
                            <th><span style="width:100px;">Trạng thái</span></th>

                            <th id="edit">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (NewsSources != null)
                        {
                            foreach (var data in NewsSources)
                            {
                                <tr>
                                    <td><input type="checkbox" name="ID" value="@data.SourceId" class="checkBox custom-checkbox chkCheckBoxId" /></td>
                                    <td>
                                        <span class="text-primary">
                                            @data.SourceName
                                        </span>
                                    </td>
                                    <td>@data.SourceLink</td>

                                    <td>@Html.Raw(CMSLIS.Common.Common.getTypeStatus(data.active))</td>
                                    <td class="td-actions">
                                        <a href="/News/SourceAdd?Id=@data.SourceId"><i class="fa fa-edit edit"></i></a>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>

                <!-- End Sorting -->

            </div>
            <!-- End Content -->

        </section>
    </div>
</div>


<script src="/content/AdminLTE/vendor/nanoscroller/nanoscroller.js"></script>

<script src="/content/AdminLTE/vendor/magnific-popup/magnific-popup.js"></script>
<script src="/content/AdminLTE/vendor/jquery-placeholder/jquery.placeholder.js"></script>


<!-- Specific Page Vendor -->
<script src="/Content/AdminLTE/vendor/select2/select2.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="/Content/AdminLTE/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="/Content/AdminLTE/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/Content/AdminLTE/javascripts/theme.init.js"></script>
<script src="/Content/AdminLTE/js/adminlte.js"></script>
<script src="/Content/AdminLTE/js/init.js"></script>
