
@using CMS_Core.Entity;
@{
    ViewBag.Title = "Hoàn tiền thuốc";
    CMS_Core.Common.ComboBoxFinal<ClassComboBox> ComboBoxClass = new CMS_Core.Common.ComboBoxFinal<ClassComboBox>();
    CMS_Core.Common.ComboBoxFinal<CMS_PARTNER> ComboBox = new CMS_Core.Common.ComboBoxFinal<CMS_PARTNER>();
    var UserInfo = ((cms_Account)Session["UserInfo"]);
    var CMS_MEDICINE_INVENTORYS = (List<CMS_MEDICINE_INVENTORY>)ViewBag.CMS_MEDICINE_INVENTORYS;
    int count = 1;
}



<script src="/Content/AdminLTE/js/Customer/REFUNDStore.js"></script>
<!-- Head Libs -->
<script src="/Content/AdminLTE/vendor/modernizr/modernizr.js"></script>

<!-- Begin Content -->
<div class="box box-info">


    @using (Html.BeginForm("MedicineInventorys", "pharmacyStore", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
    {
        <div class="box-body">


            <div class="form-group row ">
               

                <div class="col-sm-2">
                    <div class="form-group">
                        <button type="submit" id="cmdSearch" name="submit" value="ExportMedicineInventorys" class="btn btn-primary"><i class="fa fa-search"></i>  EXPORT</button>
                    </div>
                </div>

            </div>
        </div>
    }

    <div class="box box-info" style="margin-top: 5px;">
        <section class="panel">


            <!-- Begin Content -->
            <div class="panel-body">




                <table id="sorting-table" class="table table-bordered table-striped dataTable" role="grid">
                    <thead>
                        <tr>
                            <th id="STT">STT</th>
                            <th id="MEDICINE_NAME">Tên thuốc</th>
                            <th id="MEDICINE_CODE">Mã thuốc</th>
                            <th id="INVENTORY">Tồn kho</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (CMS_MEDICINE_INVENTORYS != null)
                        {
                            foreach (var data in CMS_MEDICINE_INVENTORYS)
                            {
                                <tr>
                                    <td  >@(count++) </td>
                                    <td>@data.MEDICINE_NAME</td>
                                    <td>@data.MEDICINE_CODE</td>

                                    <td>@CMSLIS.Common.Common.FmtAmt(data.INVENTORY)</td>


                                </tr>
                            }
                        }

                    </tbody>
                </table>



            </div>
            <!-- End Content -->

        </section>
        <!-- End Sorting -->
    </div>
</div>
<!-- End Content -->
    .


<script src="/content/AdminLTE/vendor/nanoscroller/nanoscroller.js"></script>

<script src="/content/AdminLTE/vendor/magnific-popup/magnific-popup.js"></script>
<script src="/content/AdminLTE/vendor/jquery-placeholder/jquery.placeholder.js"></script>


<!-- Specific Page Vendor -->
<script src="/Content/AdminLTE/vendor/select2/select2.js"></script>
<script src="/Content/AdminLTE/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="/Content/AdminLTE/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="/Content/AdminLTE/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/Content/AdminLTE/javascripts/theme.init.js"></script>
