@model  CMSLIS.Models.ResetPasswordViewModel
@{
    Layout = null;
    ViewBag.Title = "ForgotPassword";
}
<!DOCTYPE html>
<!--
Item Name: Elisyam - Web App & Admin Dashboard Template
Version: 1.5
Author: SAEROX

** A license must be purchased in order to legally use this template for your project **
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Elisyam - Forgot Password</title>
    <meta name="description" content="Elisyam is a Web App and Admin Dashboard Template built with Bootstrap 4">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Fonts -->
    <script src="/Content/assets/js/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Montserrat:400,500,600,700", "Noto+Sans:400,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });</script>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/assets/img/logochuan-01.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/assets/img/logochuan-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/assets/img/logochuan-16.png">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/Content/assets/vendors/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/assets/vendors/css/base/elisyam-1.5.min.css">
    <!-- Tweaks for older IEs-->

</head>
<body class="bg-fixed-02">
    <!-- Begin Preloader -->
    <div id="preloader">
        <div class="canvas">
            <img src="/Content/assets/img/logochuan-01.png" alt="logo" class="loader-logo">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Begin Container -->
    <div class="container-fluid h-100 overflow-y">
        <div class="row flex-row h-100">
            <div class="col-12 my-auto">
                <div class="password-form mx-auto">
                    <div class="logo-centered">
                        <a href="/Account/Login">
                            <img src="/Content/assets/img/logochuan-01.png" alt="logo">
                        </a>
                    </div>
                    <h3>Password Recovery</h3>
                    <p class="text-success">@ViewBag.StatusMessage</p>
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="group material-input">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @Html.TextBoxFor(m => m.Email, new { type = "SingleLine", placeholder = "Email" })
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            
                        </div>
                    }
                    <div class="button text-center">
                        <a href="dashboard.html" class="btn btn-lg btn-gradient-01">
                            Reset Password
                        </a>
                    </div>
                    <div class="back">
                        <a href="/Account/Login">Sign In</a>
                    </div>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
    <!-- Begin Vendor Js -->
    <script src="/Content/assets/vendors/js/base/jquery.min.js"></script>
    <script src="/Content/assets/vendors/js/base/core.min.js"></script>
    <!-- End Vendor Js -->
    <!-- Begin Page Vendor Js -->
    <script src="/Content/assets/vendors/js/app/app.min.js"></script>
    <!-- End Page Vendor Js -->
</body>
</html>
